@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
 name: "care-theme";
  default: true; 
  prefersdark: false; 
  color-scheme: light;

  --color-base-100: oklch(97% 0.01 240);
  --color-base-200: oklch(94% 0.02 240);
  --color-base-300: oklch(91% 0.03 240);
  
  --color-base-content: oklch(25% 0.04 240);

  --color-primary: oklch(65% 0.12 230);
  --color-primary-content: oklch(100% 0 0);

  --color-secondary: oklch(85% 0.1 160);
  --color-secondary-content: oklch(30% 0.05 160);
}
 @plugin '../../hero.js';
 @source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}';
 @custom-variant dark (&:is(.dark *));